* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    display: block;
    color: steelblue;
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(180, 180, 180);
}

a:hover {
    background-color: rgb(130, 163, 190);
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

main {
    max-width: 50rem;
    margin: 1rem 0;
    background: whitesmoke;
    color: black;
}

main img {
    width: 15rem;
    height: auto;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0 1rem 1rem
}

h1 {
    border-bottom: 2px solid var(steelblue);
    padding-bottom: 2px;
    color: steelblue;
}

aside {
    position: relative;
}

aside img {
    width: 100%;
    height: auto;
    display: block;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 80px;
}

p {
    padding: 1rem;
    color: black;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: auto 310px;
}

footer {
    background-color: rgb(154, 184, 207);
    color: white;
    padding: 2rem 1rem;
}

#author {
    color: blue;
}

ul {
    list-style: none;
    padding: 1rem;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: whitesmoke;
    color: rgb(43, 42, 42);
}